<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataPath" value="C:\ProgramData\PatchinPal\Server"/>
    <add key="DefaultClientPort" value="8090"/>
    <add key="ServerPort" value="8091"/><!-- Port to receive client reports -->
    <add key="ScanThreads" value="50"/>
    <add key="ScanTimeout" value="1000"/><!-- Milliseconds -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
